ultralytics
roboflow
python-dotenv
fastapi
uvicorn[standard]
python-multipart
opencv-python
matplotlib
pillow
pandas
numpy
pyyaml
tqdm
seaborn

# --- Core Deep Learning Para GPU---
# torch==2.5.1+cu121
# torchvision==0.20.1+cu121
# torchaudio==2.5.1+cu121
# --extra-index-url https://download.pytorch.org/whl/cu121
